#contact {
    background-color: #8EABBB;
    color: #122B3F;
}
#contactTitle {
    color: #122B3F;
}
#contactSub {
    color: #122B3F;
}
#phone {
    color: #122B3F;
}
#email {
    color: #122B3F;
}
#web {
    color: #122B3F;
}

#github {
    color: #122B3F;
}

#linkedin {
    color: #122B3F;
}