#contact, #contactTitle, #contactSub, #phone, #email, #emailLink, #web, #github, #linkedin {
    background-color: #8EABBB;
    color: #122B3F;
}
#linkedin:hover, #github:hover, #emailLink:hover {
    color: white;
}
