#navbarMenu {
    background-color: #122B3F;
}
#navBurger {
    background-color: #122B3F;
    color: #F8FAFC;
}
.navbar-burger {
    background-color: #122B3F;
    color: #F8FAFC;
}
.navbar-item {
    color: #F8FAFC;
}